<nav class="flex gap-5 p-5">
  <a routerLink="/"><h1 class="header-logo">BdP - Saunas</h1></a>
  <a
    class="header-link mb-auto mt-auto"
    routerLink="/saunas"
    routerLinkActive="header-link-active"
    >Saunas</a
  >
  <a
    class="header-link mb-auto mt-auto"
    routerLink="/users"
    routerLinkActive="header-link-active"
    >Users</a
  >
  <div
    class="header-link mb-auto mt-auto ml-auto cursor-pointer"
    (click)="setIsOpen(true)"
  >
    Login
  </div>
</nav>
<app-login-modal
  [isOpen]="isOpen"
  (setIsOpen)="setIsOpen($event)"
></app-login-modal>
