<form
  class="mt-5 p-5 border border-gray-400 flex flex-col gap-5 w-96"
  (submit)="handleFormSubmit($event)"
  [formGroup]="userForm"
>
  <div class="flex flex-col gap-2">
    <label for="username">Nom</label>
    <input
      class="py-1 px-2 outline-none rounded-md border border-cyan-600"
      formControlName="username"
      type="text"
      id="username"
      name="username"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="password">Mot de pass</label>
    <input
      type="password"
      class="py-1 px-2 outline-none rounded-md border border-cyan-600"
      formControlName="password"
      id="password"
      name="password"
    />
  </div>
  <button
    class="w-full cursor-pointer text-xl font-semibold mt-5 p-3 bg-cyan-500 text-white rounded-md"
    [ngClass]="{ submit_valid: userForm.valid }"
    type="submit"
  >
    {{ user.id === "-1" ? "Ajouter un utilisateur" : "Editer" }}
  </button>
</form>
