.header {
  &-link {
    cursor: pointer;
    transition-duration: 300ms;
    border-bottom: solid 1px transparent;
    padding-bottom: 4px;
    font-weight: 700;
    &:hover {
      color: var(--color-hl1);
      transition-duration: 400ms;
    }
    &-active {
      border-color: var(--color-hl1);
      color: var(--color-hl1);
    }
  }

  &-logo {
    font-size: 1.5rem;
    color: var(--color-hl1);
    margin-right: 20px;
  }
}
