<form
  class="form"
  (submit)="handleFormSubmit($event)"
  [formGroup]="userForm"
>
  <div class="form-inputContainer">
    <label for="username">Nom</label>
    <input
      formControlName="username"
      type="text"
      id="username"
      name="username"
    />
  </div>
  <div class="form-inputContainer">
    <label for="password">Mot de pass</label>
    <input
      type="password"
      formControlName="password"
      id="password"
      name="password"
    />
  </div>
  <button
    class="btn"
    [ngClass]="{ submit_valid: userForm.valid }"
    type="submit"
  >
    {{ user.id === "-1" ? "Ajouter un utilisateur" : "Editer" }}
  </button>
</form>
