<form
  class="form"
  (submit)="handleFormSubmit($event)"
  [formGroup]="saunaForm"
>
  <div class="form-inputContainer">
    <label for="name">Nom</label>
    <input
      formControlName="name"
      type="text"
      id="name"
      name="name"
    />
  </div>
  <div class="form-inputContainer">
    <label for="size">Taille</label>
    <input
      formControlName="size"
      type="number"
      id="size"
      name="size"
      min="1"
    />
  </div>
  <button
    class="btn"
    [ngClass]="{ submit_valid: saunaForm.valid }"
    type="submit"
  >
    {{ sauna.id < 0 ? "Ajouter un Sauna" : "Editer" }}
  </button>
</form>
